.main {
  padding: 40px 0 0;
  width: 100%;
  max-width: 880px;
  min-width: 320px;
  box-sizing: border-box;
}

@media screen and (max-width: 960px){
  .main {
    padding: 40px 40px 0;
  }
}

@media screen and (max-width: 780px){
  .main {
    padding: 42px 19px 0;
  }
}

