.popup__input {
  width: 100%;
  height: 25px;
  margin: 0 0 30px;
  padding: 0 0 9px;
  border: none;
  border-bottom: 1px solid rgba(0 0 0 / 20%);
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}

.popup__input:focus {
  outline: 0;
  outline-offset: 0;
}

@media screen and (max-width: 554px){
  .popup__input:last-of-type {
    margin: 0 0 45px;
  }
}
